body, h1, h2, p, ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inconsolata', monospace;
  color: #fff;
  margin: 0;
  font-weight: bold;
}

.App {
  text-align: center;
  background: url('./background3.jpg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

.App-title {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #fff;
  text-decoration: none;
}

.App-header h3 {
  font-weight: bold;
}

.App-nav {
  margin-top: 20px;
}

.App-nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.App-nav a:hover {
  color: red;
}

.AppFooter p {
  padding: 5px;
  color: black;
}

.App-nav a {
  text-decoration: none;
  color: #fff !important;
  font-weight: bold;
  font-size: 1.2rem;
  transition: color 0.3s ease-in-out;
  padding: 10px;
}

.App h1 {
  font-size: 80px;
  font-weight: lighter;
  text-decoration: none;
  font-family: 'Inconsolata', monospace; /* Add this line */
}

.App h3 {
  font-size: 20px;
  font-weight: lighter;
}

.ContentWrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Updated styles for the footer */
.AppFooter {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 5px;
  padding-top: 10px;
  text-align: center;
  z-index: 2000;
  background-color: white;
}

/* Updated styles for the footer links */
.AppFooter ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.AppFooter a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
}

.AppFooter a:hover {
  color: red;
}

.factorphoto {
  max-height: 30px;
  height: 70%;
  padding-left: 10px;
  padding-right: 10px;
}
