.LiveDiv {
    background-color: rgba(213, 138, 138, 0);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 90px;
    font-weight: bold;
}

.LiveDiv h3 {
    font-weight: bold;
}

.calendar {
    margin-top: 20px;
    height: 400px;
    width: 600px;
}

.janesparty {
    background-color: white;
    padding: 20px;
    margin: 10px;
    margin-bottom: 50px;
    text-decoration: none;
    color: black;
    width: 40%;
    border-radius: 10px;
}

.janesparty:hover {
    background-color: red;
}

.janespartycontainer {
    padding: 20px;
    margin: 10px;
    margin-bottom: 50px;
    text-decoration: none;
}