.Music {
    margin-bottom: 100px;
}

.GenMusic {
    display: flex;
    max-width: 100%;
    overflow-x: auto;
    flex-wrap: wrap;
    align-items: center;
}

.GenMusic div {
    padding: 20px;
    box-sizing: border-box;
}